@import url('search.css');

:root {
  --color-primary-background: #232339;
  --color-secondary-background: #2C2C4A;
  --color-primary-text: #f8f8f8;
  --color-secondary-text: #4e4e4e;


  --color-primary: #4D5BCE;
  --color-secondary: #43D9AD;
  --color-tertiary: #E99287;

  --color-primary-light: #5c6efc;

}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.wanted-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: 1rem 2rem;
}

.hero header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  padding: 1rem 2rem;
  margin: 0 auto;
}

section {
  width: 50%;
  height: 100vh;
  /* padding: 0 12rem; */
  margin: 0 auto;
}

#wantedCard {
  /* margin: 0 auto; */
}

#wantedCard .card {
  display: flex;
  flex-flow: column;
  background-color: var(--color-secondary-background);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 5rem;
  padding: 2rem;
  width: 100%;
}

.card #container {
  display: flex;
  flex-flow: row;
  padding: 0 2rem;
}

.card #container #wantedCardImages {

  display: flex;
  flex-direction: row;
  justify-content: start;
  /* width: 60%; */
  /* margin: 0 3rem; */
}

.card #container #wantedCardElaboration P {
  margin: 0;
  padding: 0;
}

.card #container #wantedCardElaboration {
  margin: 0 3rem 0 0;
  padding: 0;
}

.card #container .col1 {
  width: 75%;
  margin: 0;
}

.card #container div {
  margin: 1rem;
}

.card #container .col2 {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 13rem 0;
}

.wanted-person-details {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 2rem 1rem;
  margin: 0.8rem;
}

.wanted-person-details tbody {
  display: table-row-group;
  height: 100%;
  vertical-align: middle;
  unicode-bidi: isolate;
}

.wanted-person-details tbody tr {
  display: table-row;
  margin: 2rem 0;
}

.card-actions {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.card-actions .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-actions .list div a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.card-actions .list div a:hover {
  background-color: #111111;
}

.card #container .col2 > p > span {
  margin: 0 1rem;
}

#wantedCard .card h2 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
  /* padding: 2rem; */
}

#wantedCard .card img {
  /* border-radius: 50%; */
  height: 15rem;
  width: 15rem;
}

.wanted-btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  color: var(--color-primary-text);
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s;
}

.wanted-btn:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary-text);
}