/* Import external styles */
@import url('search.css');

/* Global variables */
:root {
  /* Color variables */
  --color-primary-background: #232339;
  --color-secondary-background: #2C2C4A;
  --color-primary-text: #f8f8f8;
  --color-secondary-text: #4e4e4e;
  --color-primary: #4D5BCE;
  --color-primary-light: #5c6efc;
  --color-secondary: #43D9AD;
  --color-secondary-light: #48eebc;
  --color-tertiary: #E99287;
  --color-tertiary-dark: #bf8f8a;
  --color-danger: #f44336;
}

/* Global styles */
*, ::after, ::before {
  box-sizing: border-box;
}

/* Links */
a {
  color: var(--color-secondary);
  background-color: transparent;
  text-decoration: none;
  margin: 2rem 4rem;
  padding: 0;
}

a:hover, a:focus {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

/* Typography and layout */
html {
  font-family: 'Fira Code', monospace;
  color: #e5e9f0;
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-text);
  font-size: 16px;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

/* Buttons */
.btn {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  color: var(--color-secondary-text);
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s;
}

.btn:hover {
  background-color: var(--color-secondary-light);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

.btn-danger {
  background-color: var(--color-danger);
  color: white;
}

.btn-danger:hover {
  background-color: var(--color-primary-text);
  color: var(--color-danger);
}

/* Container and hero styles */
.wanted-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: 1rem 2rem;
}

.hero header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
}

section {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
}

/* Card styles */
.card {
  display: flex;
  flex-flow: column;
  background-color: var(--color-secondary-background);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
}

.card #container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-shrink: 0;
  padding: 0 2rem;
  margin: 0 0 4rem 0;
  overflow: hidden;
}

.card #container #wantedCardImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card img {
  height: 15rem;
  width: 15rem;
}

.card #container #wantedCardElaboration {
  padding: 0;
}

.card #container #wantedCardElaboration p, a {
  margin: 0.5rem 0;
  padding: 0;
}

.card #container .col1 {
  box-sizing: border-box;
  width: 75%;
  margin: 0 4rem;
  flex-grow: 1;
}

.card #container .col2 {
  box-sizing: border-box;
  height: 50%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

/* Table styles */
.wanted-person-details {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 2rem 1rem;
  margin: 0.8rem;
}

.wanted-person-details tbody {
  display: table-row-group;
  height: 100%;
  vertical-align: middle;
  unicode-bidi: isolate;
}

.wanted-person-details tbody tr {
  display: table-row;
  margin: 2rem 0;
}

/* Card actions */
.card-actions {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.card-actions .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-actions .list div a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.card-actions .list div a:hover {
  background-color: #111111;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .35);
  padding: 40px;
  overflow: auto;
}

.modal.open {
  display: block;
}

.modal-body {
  position: relative;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  border: var(--color-primary) 2px solid;
  background-color: var(--color-secondary-background);
}

.modal-body h2 {
  color: var(--color-primary-text);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-body .person-details-form {
  background-color: var(--color-secondary-background);
}

#close-modal {
  background-color: transparent;
  border: none;
  font-size: larger;
  cursor: pointer;
  color: var(--color-primary-text);
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Form styles */
.form-group {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

.form-group span {
  margin-right: 1rem;
}

/* Variable styles */
.variable-type {
  color: var(--color-primary);
}

.variable-name {
  color: var(--color-secondary);
}

.variable-assignment {
  color: var(--color-primary-text);
}

.variable-value {
  color: var(--color-tertiary);
  font-size: 1.4rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

.variable-value:focus-visible {
  border: none;
  outline: none;
  caret-color: var(--color-primary-text);
}

/* Alert popup styles */
.alert {
  padding: 2rem;
  background-color: var(--color-primary-background);
  color: white;
  position: fixed;
  inset: 0;
  height: 180px;
  width: 750px;
  margin: auto;
  z-index: 100;
  border-radius: 10px;
  box-shadow: #423d3d 0 0 10px;
}

.alert strong {
  color: var(--color-danger);
}

.alert-actions {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}
